//csx.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.37ecdf22-e254-4cbb-9f72-6279998300a0/contents/release/npm/:_authToken=${FOUNDRY_TOKEN}
registry=https://csx.palantirfoundry.com/artifacts/api/repositories/ri.stemma.main.repository.37ecdf22-e254-4cbb-9f72-6279998300a0/contents/release/npm/
omit-lockfile-registry-resolved=true
