import { FauxFoundry } from "@osdk/faux";
import { airline, airplane } from "../.osdk/src";
import { randomUUID } from "node:crypto";

const DEFAULT_ONTOLOGY_RID = "ri.ontology.main.ontology.00000000-0000-0000-0000-000000000000";

const DEFAULT_REALM = "realm";
const DEFAULT_ORG_RID = "ri.multipass..organization.00000000-0000-0000-0000-000000000000";

export const seed = (fauxFoundry: FauxFoundry) => {
  // Get the data store to add objects to our local ontology
  const dataStore = fauxFoundry.getDataStore(DEFAULT_ONTOLOGY_RID);

  // Here's an example of how to seed airline and airplane objects
  dataStore.registerObject(airline, {
    code: "AA",
    name: "American Airlines",
  });
  dataStore.registerObject(airline, {
    code: "UA",
    name: "United Airlines",
  });
  dataStore.registerObject(airplane, {
    id: randomUUID(),
    tailNumber: "AA45678",
    age: 5,
    airlineCode: "AA",
  });
  dataStore.registerObject(airplane, {
    id: randomUUID(),
    tailNumber: "UA1234",
    age: 2,
    airlineCode: "UA",
  });

  // Here's an example of how to seed users to our local user base
  const currentUserId = "c43a1312-1816-4be8-b710-d8c902f9c0ab";

  fauxFoundry.admin.registerUser({
    id: currentUserId,
    username: "me",
    givenName: "Test",
    familyName: "User 1",
    email: "me@example.com",
    status: "ACTIVE",
    realm: DEFAULT_REALM,
    organization: DEFAULT_ORG_RID,
    attributes: {},
  });

  fauxFoundry.admin.setCurrentUser(currentUserId);

  fauxFoundry.admin.registerUser({
    id: "e23256fc-8915-41bf-901f-3f51bc7ccc63",
    username: "user2",
    givenName: "Test",
    familyName: "User 2",
    email: "user2@example.com",
    realm: DEFAULT_REALM,
    organization: DEFAULT_ORG_RID,
    status: "ACTIVE",
    attributes: {},
  });

  fauxFoundry.admin.registerUser({
    id: "4b1ecc6b-4cc8-4720-85e6-b396186215c5",
    username: "user3",
    givenName: "Test",
    familyName: "User 3",
    email: "user3@example.com",
    realm: DEFAULT_REALM,
    organization: DEFAULT_ORG_RID,
    status: "ACTIVE",
    attributes: {},
  });
};
